body {
  div.main_container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    div.main_card {
      height: 80vh;
      width: 80vw;
      display: inline-block;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 5px 10px rgba(0, 0, 0, 0.24);
      div#main_branding {
        width: 50vw;
        height: 80vh;
        float: left;
        position: relative;

        div#main_branding_content {
          position: absolute;
          width: 50vw;
          height: 80vh;
          display: flex;
          justify-content: space-around;
          padding-top: 125px;
          h1 {
            font-family: 'Raleway', sans-serif;
            font-weight: 600;
            font-size: 100px;
            color: white;
          }
        }
        div#main_branding_glass {
          position: absolute;
          background-color: rgba(0, 120, 255, 0.8);
          width: 50vw;
          height: 80vh;
        }
        div#main_branding_background {
          position: absolute;
          img {
            width: 50vw;
            height: 80vh;
            object-fit: cover;
          }
        }
        div#main_branding_tagline {
          position: absolute;
          width: 50vw;
          height: 80vh;
          display: flex;
          justify-content: space-around;
          padding-top: 250px;

          h2 {
            font-family: 'Raleway', sans-serif;
            font-weight: 500;
            font-size: 40px;
            color: lightblue;
          }
        }
      }
      div#essential_form {
        height: 80vh;
        width: 30vw;
        float: right;
        padding: 40px;
        h2 {
          font-family: 'Raleway', sans-serif;
          font-weight: 500;
          font-size: 40px;
          color: lightblue;
        }
        div#login_form {
          form {
            div.actions {
              float: right;
            }
          }
        }
        div#sign_form {
          form {
            padding: 0;
            margin: 0;
            div.actions {
              float: right;
            }
          }
        }
        div.rendered {
          width: 100px;
          float: left;
          a {
            color: lightblue;
          }
        }
      }
    }
  }
}
